<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>
    
<section class = "form-container">
    <form id="classificationForm" action="/inventory/add-inventory" method="POST">
        <fieldset>
            <p>All Fields Are Required</p>
            <label for="classification_name">Classification:</label>            
            <select type="select" id="classification" name="classification_name" required>
                <option value="">Select an option</option>
                <option value="Custom">Custom</option>
                <option value="Sedan">Sedan</option>
                <option value="Sport">Sport</option>
                <option value="SUV">SUV</option>
                <option value="Truck">Truck</option>
            </select>
            <input type="text" class="form-field" id="classification" name="classification_name" required>
            <label for="inv_make">Make</label>
            <input type="text" class="form-field" id="make" name="inv_make" required>
            <label for="inv_model">Model</label>
            <input type="text" class="form-field" id="model" name="inv_model" required>
            <label for="inv_description">Description</label>
            <input type="textarea" class="form-field" id="description" name="inv_description" required>
            <label for="inv_image">Image Path</label>      
            <input src="" class="form-field" id="image" name="inv_image" required>
            <label for="inv_thumbnail">Thumbnail Path</label>      
            <input src="" class="form-field" id="thumbnail" name="inv_thumbnail" required>
            <label for="inv_price">Price</label>
            <input type="number" class="form-field" id="price" name="inv_price" required>
            <label for="inv_year">Year</label>
            <input type="number" class="form-field" id="year" name="inv_year" required>
            <label for="inv_miles">Miles</label>
            <input type="number" class="form-field" id="miles" name="inv_miles" required>
            <label for="inv_color">Color</label>
            <input type="text" class="form-field" id="color" name="inv_color" required>
            <button id = "addInvBtn" type="submit" class="form-button">Add Vehicle</button>            
        </fieldset>
    </form>
</section>
