
    <h1><%= title %></h1>
    
<section class="management_view">
    <div>
        <a href="/inventory/addClassification">Add New Classification</a>
        <a href="/inventory/add-inventory">Add New Vehicle</a>
    </div>
</section>