<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>
<section class="management_view">
    <div>
        <a href="/inventory/addClassification">Add New Classification</a>
        <a href="/inventory/add-inventory">Add New Vehicle</a>
    </div>
</section>